{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статичный макет</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'oop.css' %}">
</head>
<body>
    <div class="search-bar">
        <form action="{% url 'add-todo' %}" method="POST">
          {% csrf_token %}
        <input type="text" class="search-input" placeholder="Напишите сюда новую задачу"
        name="todo_text">
        <button class="add-button">ДОБАВИТЬ</button>
    </form>
    </div>

    <div class="grid-container">

        {% for todo in todo_list %}

        <div class="card card-green">
            <div class="checkbox-area"><input type="checkbox"></div>
            <div class="info-area">
                <span class="title">{{ todo.text}}</span>
                <span class="date">{{ todo.created_at}}</span>
            </div>
            <div class="icons-area">
                <i class="far fa-star"></i> 
                <a href="{% url 'delete-todo' todo.id %}"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {% endfor %}



    </div>

</body>
</html>