{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статичный макет</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'oop.css' %}">
</head>
<body>

    <div class="search-bar">
        <form class="form" action="{% url 'add-todo' %}" method="POST">
            {% csrf_token %}
            <input type="text" width="90%" class="search-input" placeholder="Напишите сюда новую задачу" name="todo_text">
            <button class="add-button">ДОБАВИТЬ</button>
            
        </form>
    </div>

    {% for todo in todo_list %}
    <div class="box">
        
        <div class="card card-green 
            {% if todo.is_favorite %}
                card-yellow
            {% elif todo.is_closed %}
                card-gray
            {% endif %}">
            
            <div class="checkbox-area">
                <input type="checkbox"
                {% if todo.is_closed %}
                    checked
                {% endif %}
                >
            </div>
            <div class="info-area">
                <span class="title"><a href="{% url 'close-todo' todo.id %}" >{{ todo.text }} </a></span>
                <span class="date">{{ todo.created_at }}</span>
            </div>
            <div class="icons-area">
                {% if todo.is_favorite %}
                    <a href="{% url 'mark-todo' todo.id %}"><i class="far fa-star star-active"></i></a>
                {% else %}
                    <a href="{% url 'mark-todo' todo.id %}"><i class="far fa-star"></i></a>
                {% endif %}
                    <a href="{% url 'delete-todo' todo.id %}"><i class="fas fa-trash-alt"></i></a> 
            </div>
        </div>
     </div>
    {% endfor %}

 </body>
</html>